.App {
  margin: 10px;
}

.card{
  margin: 5px;
}

.form{
  text-align: center;
  background-color: white;
  margin: 15px auto;
  width: 80%;
  padding: 10px 0;
}

.header{
  background-color: white;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
}

.cards{
  background-color: white;
  width: 300px;
  text-align: center;
  margin: 10px auto;
  padding: 10px 0;
}

.specs{
  border: solid 1px grey;
  padding: 5px;
  margin: 5px;
}

.vehicle-holder{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  padding: 20px;
}
